<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Book Store</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.menu {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>

<div class="header">
  <h1>Online Book Store</h1>
  <marquee><font color="Black">Welcome to online Book Store, Here you can read the books and download the books.</marquee></font>
</div>

<div class="menu">
  <a href="#">Home</a>
  <a href="#">Login</a>
  <a href="#">Register</a>
  <a href="#">Contact us</a>
  <a href="#">About us</a>
</div>

</body>
</html>
